<div class="my-auto d-block p-5">
  <div class="row">
    <div class="col-lg-4 m-auto">
      <%= link_to "Sign up as a buyer", "/buyers/sign_up", class: "btn btn-outline-dark mx-auto d-block my-auto" %>
    </div>
    <div class="col-lg-4">
      <%= image_tag "basket.png", class: "my-auto home-basket" %>
    </div>
    <div class="col-lg-4 m-auto">
      <%= link_to "Sign up as a farmer", "/farmers/sign_up", class: "btn btn-outline-dark mx-auto d-block my-auto" %>
    </div>
  </div>
</div>
