<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Locally</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/marketing/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/marketing/contact">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="adminNavbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign up
        </a>
        <div class="dropdown-menu" aria-labelledby="adminNavbarDropdownMenuLink">
          <a class="dropdown-item" href="/farmers/sign_up">Farmer</a>
          <a class="dropdown-item" href="/buyers/sign_up">Buyer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="adminNavbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in
        </a>
        <div class="dropdown-menu" aria-labelledby="adminNavbarDropdownMenuLink">
          <a class="dropdown-item" href="/farmers/sign_in">Farmer</a>
          <a class="dropdown-item" href="/buyers/sign_in">Buyer</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
